<html><body>
<form method='post' class='formInscricao' enctype='multipart/form-data'>
    {% csrf_token %}
    {{debug}}
        {{subscription_form.as_p}}
        {% if documents %}
                <ul class='esupa-documents'>
                    {% for doc in documents %}
                    <li>
                        <a href="{% url 'esupa-trans-doc' doc.id %}">Enviado {{doc.filled_at}}.</a>
                        <span class="docOk{{doc.accepted}}">{{doc.ended_at}}</span>
                    </li>
                    {% endfor %}
                </ul>
        {% endif %}
        {{upload_form.as_p}}
                <p class='buttons'>
                    {% for k,v in actions %}
                    <div>
                        <button name='action' value='{{ k }}'>&nbsp; {{ v }} &nbsp;</button>
                    </div>
                    {% endfor %}
                </p>
</form>
</body></html>
