{% extends 'esupa/base.html' %}
{% load i18n %}
{% block content %}
<form method="post" action="{% url 'esupa-pay' trans.method %}" id="formPay" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tid" value="{{trans.id}}"/>

    <div class="row">
        <div class="large-12 columns">
            <h4>{% trans "Bank Transfer" %}</h4>

            <p>{% blocktrans %} You may wire a bank transfer straight to a staffer's account,
                and attach the receipts here. When you reach the total subscription value,
                your slot will be confirmed. {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row deposit">
        <div class="large-12 columns">
            {{form.as_p}}
            <p class='buttons'>
                <input type="submit" value='&nbsp; {% trans "Send" %} &nbsp;' class="button"/>
                <a class="button secondary" href="{% url 'esupa-view' event.slug %}">&nbsp;
                    {% trans "Back" %} &nbsp;</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
