<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Event List</title>
</head>
<body>

<h1>Events</h1>

{% if is_paginated %}{{paginator}}{{page_obj}}{% endif %}

<table border="1" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Starts at</th>
        <th>Capacity</th>
        <th>Confirmed</th>
        <th>Pending</th>
        <th>Openings</th>
    </tr>
    {% for event in event_list %}
    <tr>
        <th><a href="{% url 'esupa-check-event' event.id %}">{{event.name}}</a></th>
        <td>{{event.starts_at}}</td>
        <td>{{event.capacity}}</td>
        <td>{{event.num_confirmed}}</td>
        <td>{{event.num_pending}}</td>
        <td>{{event.num_openings}}</td>
    </tr>
    {% endfor %}
</table>

{{context}}

</body>
</html>