<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Esupa Verify</title>
</head>
<body>
<table border="1" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Starts at</th>
        <th>Capacity</th>
        <th>Confirmed</th>
        <th>Pending</th>
        <th>Openings</th>
    </tr>
    {% for event in events.iterator %}
    <tr>
        <th><a href="{% url 'esupa-verify-event' event.id %}">{{event.name}}</a></th>
        <td>{{event.starts_at}}</td>
        <td>{{event.capacity}}</td>
        <td>{{event.num_confirmed}}</td>
        <td>{{event.num_pending}}</td>
        <td>{{event.num_openings}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>